<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subscribeForm</title>
    <link rel="stylesheet" href="./subscribeForm.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js.map" crossorigin="anonymous"></script>
    <script src="./getCookies.js"></script>
</head>

<body>
    
    <div class="section-content-wrapper sub-form-bk">
        <div class="subscribe-form-wrapper">

        <div id="form-section">
            <div class="form-left">
                <h2>
                    Subscribe to our trading interviews
                </h2>
                <p>
                    Stay up to date with how our winners are trading
                </p>
            </div>
            <div class="form-right">
                <form action="#" id="subscribe-form" name='subscribe-form'>
                    <div class="form-inputs">
                        <input type="text" name="first_name" placeholder="First Name">
                        <input type="text" name="last_name" placeholder="Last Name">
                        <select name="country" id="country-dropdown" aria-placeholder="Country"></select>
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <button class="enter-button">
                        Sign Up
                    </button>
                </form>
            </div>
        </div>
        <div id="form-after">
            <h1>
                Thank you for signing up
            </h1>
            <p>
                Check your email to stay up to date with how our winners are trading.
            </p>
        </div>
    </div>
    </div>
    <div id="error-msg">*Error happend when submitting please try again*</div>
    <script src="./fun.js"></script>

</body>

</html>