<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="assets/common001.css" />
  </head>

  <body>
    <div class="wrap">
      <div class="highlights">
        <div class="highlights-words">
          <h2>2019 Highlights</h2>
          <p>
            The grand final was live telecast around the world and hosted at the
            e-stadium in Macau to a live audience. 30 contestants were flown in
            from around the world for the chance to be crowned the 2019 Trading
            Champion. The atmosphere of the final was electrifying as you’ll see
            by clicking play on the highlights video here.
          </p>
          <div>
            <button class="highlights-words-btn">
              <span>Watch full highlights</span>
              <img src="images/Youtube.png" alt="" />
            </button>
          </div>
        </div>
        <div class="highlights-pic">
          <img src="images/interview2.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="video-wrap hide">
      <div class="close hide">×</div>
      <div id="player" class="video"></div>
    </div>
    <script>
      let hlTag = document.createElement("script");
      hlTag.src = "https://www.youtube.com/iframe_api";
      let firstScriptTag = document.getElementsByTagName("script")[0];
      firstScriptTag.parentNode.insertBefore(hlTag, firstScriptTag);
      let player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player("player", {
          height: '800',
          width: '800',
          videoId: "ily_06wrUb0",
          events: {
            "onStateChange": onPlayerStateChange,
          },
        });
      }
      function escapeAction(e){
        if (e.key === "Escape") {
          iframeVideo.className = "video hide";
          closeVideo.className = "close hide";
          stopVideo();
        }
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }
      function stopVideo() {
        window.removeEventListener("keydown",escapeAction)
        player.stopVideo();
      }
      function playVideo() {
        player.playVideo();
      }

      function onPlayerStateChange(event) {
        // console.log('event here',event);
        // console.log('yt',YT);
       
        // if (event.data == YT.PlayerState.ENDED) {
          // setTimeout(stopVideo, 1000);
          // setTimeout(event.target.clearVideo, 1000);
        // }
      }
    
      const watchVideo = document.querySelector(".highlights-words-btn");
      const closeVideo = document.querySelector(".close");
      const iframeVideo = document.querySelector(".video-wrap");

      watchVideo.onclick = function () {
        iframeVideo.className = "video show";
        closeVideo.className = "close show";
      };
      closeVideo.onclick = function () {
        iframeVideo.className = "video hide";
        closeVideo.className = "close hide";
        stopVideo();
      };

      window.addEventListener("keydown", function (e) {
        escapeAction(e)
      });
      document.body.addEventListener("keydown", function (e) {
        escapeAction(e)
      })


    </script>
    <!-- <script src="./assets/index.js"></script> -->
  </body>
</html>
