#language-switch{
    display: none;
}
.header-wrapper{   
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header-wrapper a img{
    padding: 5px 0;
    height: 50px;
}
.header-wrapper .header-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.header-wrapper .header-nav ul li{
    margin-left: 16px;
}
.header-wrapper .header-nav a{
    /*color: #ffffff;*/
    text-decoration: none;
}
.show{
    display: flex !important;
    position: fixed ;
}
#campaign-dropdown-list{
    display: none;
    /* display: flex; */
    flex-direction: column;
    background-color: #242424;
    justify-content: space-evenly;
}
#campaign-dropdown-list a{
    margin-top: 4px;
} 
#campaign-dropdown-list a:hover{
    padding: 4px;
    background-color: #000000;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right .enter-button{
    border: none;
    width: -webkit-fill-available;
    text-decoration:none;
    color: #ffffff;
    padding: 8px 16px;
    background-color: #F67102;
}

.header-right select{
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;   
   -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */    
   -moz-border-radius: 0;  /* Firefox 1-3.6 */     
   border-radius: 0; 

    margin: 0 16px;
    padding: 8px;
    background: inherit;
    color:#ffffff;
}
.header-right select option{
    margin-top: 8px;
}
.mobile-nav-btn {
    display: none;
}
.mobile-nav{
    display: none;
    opacity: 0;
    height: 100%;
}

@media screen and (max-width:768px){
    .header-wrapper .header-nav, .enter-button ,#language-switch{
        display: none;
    } 
    .mobile-nav-btn{
        display: flex;
    }
}

@media screen and (max-width: 375px) {
    .header-right{
        display: none;
    }


}