<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media Section</title>
    <link rel="stylesheet" href="./socialMedia.css" />
  </head>

  <body>
    <div class="social-wrapper">
      <a href="https://twitter.com/trading_cup">
        <img src="./Twiiter.png" alt="" />
      </a>
      <a href="https://www.facebook.com/thetradingcup">
        <img src="./Vector.png" alt="" />
      </a>
      <a
        href="https://www.youtube.com/channel/UCumvntEVJuLD6INzqI9yDIg/featured"
      >
        <img src="./youtube.png" alt="" />
      </a>
    </div>
  </body>
</html>
