<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Social Media Section</title>
  <link rel="stylesheet" href="./socialMedia_zh.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
</head>
<body>
  <div class="social-wrapper">
    <div class="wechat-zh-logo logo-with-qr">
      <img class="logo" src="wechat-logo.png" alt="" />
      <span class="top-tran"></span>
      <img class="qr-code" src="trading-cup-wechat-qr-code.jpg" alt="">
    </div>
    <div class="line-zh-logo logo-with-qr">
      <img class="logo" src="line-logo.png" alt="" />
      <div class="top-tran"></div>
      <img class="qr-code" src="trading-cup-line-qr-code.jpg" alt="">

    </div>
    <a href="https://www.youtube.com/channel/UCumvntEVJuLD6INzqI9yDIg/featured">
      <img class="logo" src="youtube-logo.png" alt="" />
    </a>


  </div>
  <script src="./socialMedia_zh.js"></script>
</body>

</html>