<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="Tradingroot" lang="en">
      <script>
        var containerWidth = (function () {
          if (window.innerWidth > 1366) {
            containerWidth = window.innerWidth * 0.7 - 20;
          } else {
            containerWidth = 1366;
          }
          return containerWidth;
        })();
        var rankingContainer = document.getElementById("Tradingroot");
        if (rankingContainer) {
          rankingContainer.setAttribute("width", `${containerWidth}px`);
        }
      </script>
      <script
        defer
        src="https://www.tradingcup.com/application/themes/customised/components/homepageSections/topTraders/ranking-by-catherine.js"
      ></script>
    </div>
  </body>
</html>
