.top-traders-wrapper{
    padding-top: 120px;
    color: #ffffff;
}

.top-traders-wrapper h1{
    margin-top: 16px;
    color: #ffffff;
}
.top-traders-wrapper .index__table-container___3VnpG table{
    width: 100% !important;
}

@media screen and (max-width: 768px) {

}