<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/common.css">
  <style>
    body{
      background-color: #000;
    }
  </style>
</head>

<body>
  <div class="sponsorWrapper">
    <div class="logo">
      <p>Major Sponsor</p>
      <div class="acy">
        <a href="https://www.acysecurities.com/en-int/">
          <img src="./images/acy-securities-logo-en-white.png" alt="">
        </a>
      </div>
      <p>Media Partners</p>
      <div class="logo-pics">
        <div>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/finlogix.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/finlogix.png'/>
            <a href='https://www.finlogix.com/'>
              <img src='images/largeDesktop/finlogix.png' style='cursor: pointer'/></a>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/forex-factory.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/forex-factory.png'/>
            <img src='images/largeDesktop/forex-factory-mobile.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/finance-magnet.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/finance-magnet.png'/>
            <img src='images/largeDesktop/finance-magnat.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/forexlive.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/forexlive.png'/>
            <img src='images/largeDesktop/forexlive.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/finance-feeds.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/finance-feeds.png'/>
            <img src='images/largeDesktop/financee-feeds.png' style='cursor: pointer'/>
          </picture>
        </div>
        <div>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/fxstreet.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/fxstreet.png'/>
            <img src='images/largeDesktop/fxstreet.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/fxempire.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/fxempire.png'/>
            <img src='images/largeDesktop/fxempire.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/FX110.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/FX110.png'/>
            <img src='images/largeDesktop/FX110.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/forexpress.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/forexpress.png'/>
            <img src='images/largeDesktop/forexpress.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/FX168.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/FX168.png'/>
            <img src='images/largeDesktop/FX168.png' style='cursor: pointer'/>
          </picture>
        </div>
        <div>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/youcai.png'/>
            <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/youcai.png'/>
            <img src='images/largeDesktop/youcai.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/huitongwang.png'/>
            <source media='(min-width: 415x) and (maxhui-width: 1200px)' srcset='images/Tablet/huitongwang.png'/>
            <img src='images/largeDesktop/huitongwang.png' style='cursor: pointer'/>
          </picture>
          <picture>
            <source media='(max-width: 414px)' srcset='images/Mobile/toushi.png'/>
            <source media='(min-width: 415x) and (maxhui-width: 1200px)' srcset='images/Tablet/toushi.png'/>
            <img src='images/largeDesktop/toushi.png' style='cursor: pointer'/>
          </picture>
        </div>
      </div>
      <div class="logo-small-pics">
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/finlogix.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/finlogix.png'/>
          <a href='https://www.finlogix.com/'>
            <img src='images/largeDesktop/finlogix.png' style='cursor: pointer'/></a>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/forex-factory.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/forex-factory.png'/>
          <img src='images/largeDesktop/forex-factory.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/finance-magnet.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/finance-magnet.png'/>
          <img src='images/largeDesktop/finance-magnat.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/forexlive.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/forexlive.png'/>
          <img src='images/largeDesktop/forexlive.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/finance-feeds.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/finance-feeds.png'/>
          <img src='images/largeDesktop/financee-feeds.png' style='cursor: pointer'/>
        </picture>


        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/fxstreet.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/fxstreet.png'/>
          <img src='images/largeDesktop/fxstreet.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/fxempire.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/fxempire.png'/>
          <img src='images/largeDesktop/fxempire.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/FX110.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/FX110.png'/>
          <img src='images/largeDesktop/FX110.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/forexpress.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/forexpress.png'/>
          <img src='images/largeDesktop/forexpress.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <!-- <source media='(max-width: 414px)' srcset='images/Mobile/FX168 copy.png' />
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/FX168.png' /> -->
          <img src='images/largeDesktop/FX168.png' style='cursor: pointer; width: 80px; height: 34px;'/>
        </picture>


        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/youcai.png'/>
          <source media='(min-width: 415x) and (max-width: 1200px)' srcset='images/Tablet/youcai.png'/>
          <img src='images/largeDesktop/youcai.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/huitongwang.png'/>
          <source media='(min-width: 415x) and (maxhui-width: 1200px)' srcset='images/Tablet/huitongwang.png'/>
          <img src='images/largeDesktop/huitongwang.png' style='cursor: pointer'/>
        </picture>
        <picture>
          <source media='(max-width: 414px)' srcset='images/Mobile/toushi.png'/>
          <source media='(min-width: 415x) and (maxhui-width: 1200px)' srcset='images/Tablet/toushi.png'/>
          <img src='images/largeDesktop/toushi.png' style='cursor: pointer'/>
        </picture>

      </div>
    </div>
  </div>
</body>

</html>