
.qualifier-section {
    margin-top: 120px;
    padding: 100px 0;
}

.qualifiers-wrapper {
    background: url(./qulifirers.jpg) no-repeat center center;
}
.qualifiers-veil{
    background: 
    radial-gradient(43.17% 43.17% at 50% 50%, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.900213) 100%);
    padding: 24px;
}
.qualifiers-content{

    padding:100px 0;
    max-width: 50%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    font-size: 20px;
    line-height: 28px;
}

.qualifiers-content h1{
    color: #ffffff;
    line-height: 70px;
}
.qualifiers-content p{
    width: 100%;
}


.qualifiers-content .enter-button{    
    width: fit-content;
    text-decoration:none;
    color: #ffffff !important;
    padding: 8px 40px;
    background-color: #F67102;
}
@media screen and (max-width:768px){
    .qualifiers-wrapper{
        background:inherit;
    } 
    .qualifiers-content{
        padding: 40px 0;
    }
    .qualifiers-content h1 {
        font-size: 40px;
    }
    .qualifiers-content{
        display: flex;
        max-width: none;
        width: 100%;
        justify-content: center;
    }
    .qualifiers-content .enter-button{
        display: flex;
        max-width: none;
        width: -webkit-fill-available;
        justify-content: center; 
    }
}

@media screen and (max-width:375px){
    .qualifiers-content h1{
        font-size: 24px;
        line-height: 16px;
    }

}