*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html body{
  font-family:  "Helvetica Neue", "PingFang SC",  "Microsoft YaHei", "Tajawal", "Ayuthaya", Arial, sans-serif !important;

}
body {
  background: #000000 ;
  font-size: 16px;
  margin:0;
  a{
    color: #F67102 ;
  }
  a:hover{
    color: #ffffff ;
  }

  h1{
    font-size: 60px;
    color:#ffffff;
    @media (max-width:425px){
      font-size: 32px;
    }
  }
  h2{
    font-size: 40px;
    color:#ffffff;
  }
  h3{
    font-size: 28px;
    color:#ffffff
  }
  h4{
    font-size: 20px;
    color:#ffffff;
  }
  p{
    font-size: 16px;
    line-height: 28px;
    color: rgba(255,255,255,0.85);
  }

  .section-content-wrapper {
    padding: 0 15%;
  }
  .enter-button{
    cursor: pointer;
  }
  .enter-button:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.section--sideNav {
  background: #525252;
  #header--title--acyform{
    color: #000000;
  }
}

@media screen and (max-width: 1366px) {
  body {
    .section-content-wrapper {
      padding: 0 5%;
    }
  }
}

@media screen and (max-width: 1366px) {
  body {
    margin: 0;
  }
}

