.news-section {
    padding: 48px 0;
}

.news-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
}
.news-wrapper h1{
    color:#ffffff;
}

.news-wrapper .news-left img {
    height: 250px;
}
.news-wrapper .news-right{
    margin-left: 16px;
    max-width: 50%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.news-wrapper .news-right a{
    text-decoration: none;
    width: fit-content;
    color: #000000;
    padding: 4px 16px;
    background: #FFFFFF;
    border-radius: 2px;
}


@media screen and (max-width:768px){
.news-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.news-wrapper .news-left{
    width: 100%;
}
    .news-wrapper .news-left img {
        width:100%;
        height:100%;

    }
.news-wrapper .news-right{
    max-width: 100%;
    width: 100%;
}
.news-wrapper .news-right a{
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    width: -webkit-fill-available;
}


}
